@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat/static/Montserrat-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url(../fonts/Montserrat/static/Montserrat-Bold.ttf);
    font-style: normal;
}

@font-face {
    font-family: 'poopins';
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

:root {
    --primary-color: #057a8d;
    --secondary-color: #f1c111;
    --white-color: #ffffff;
    --dark-color: #171819;
    --project-bg: #f0f8ff;
    --menu-bg: #0c8195;

    --title-font-family: 'Monserrat-Bold', sans-serif;
    --reguler-font-family: 'Montserrat', sans-serif;
    --menu-font-family: 'poopins', sans-serif;
}

body {
    background-color: var(--white-color);
    font-family: var(--reguler-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--title-font-family);
    color: var(--white-color);
}

.nav {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-list {
    list-style-type: none;
}

.nav-list .list-item {
    display: inline-block;
    padding: 1rem;
}

.nav-list .list-item a {
    text-decoration: none;
    color: white;
}

.bg-navbar {
    background-image: url(/image/bg-navbar.png);
    background-repeat: inherit;
    background-size: 100% 100%;
}

.icon-download{
    width: 3rem;
    position: absolute;
    top: 1.5rem;
}
